<h1>Your friends profiles</h1>

<ul>
	<% @friend_profiles.each do |friend_profile| %>
		<li>
			<%= friend_profile.name %>
      <%= link_to "Show", friend_profile_path(friend_profile) %>
      <%= link_to "Edit", edit_friend_profile_path(friend_profile) %>
      <%= link_to "Remove", friend_profile_path(friend_profile), data: { turbo_method: :delete } %>
    </li>
	<% end %>
</ul>

<%= link_to "Create new profile", new_friend_profile_path %>
